<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'fields', f: f %>

      <div class="form-group">
        <%= f.submit 'Create my account', class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
